.explore{
  background: #E5E5E5;
  padding: 0 0 135px 0;
  @media(max-width: 876px){
    padding: 0 0 50px 0;
  }
  &__wrapper{
    background-color: #FFFFFF;
    border-radius: 60px;
    padding: 116px 30px;
    min-height: 581px;
    background: url('../img/explore/group-left.png')right 80px top 74px/63px 83px no-repeat, url('../img/explore/group-left.png')left 74px bottom 56px/63px 83px no-repeat, #FFFFFF;
    @media(max-width: 876px){
      padding: 50px 30px;
      display: flex;
      align-items: center;
      min-height: initial;
      background: #fff;
    }
  }
  &__content{
    max-width: 675px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title{
    text-align: center;
    @include adaptiv-value('font-size', 45, 30, 0);
    @include adaptiv-value('line-height', 67, 45, 0);
    margin: 0 0 30px 0;
  }
  &__subtitle{
    text-align: center;
    color: #0F1F1C;
    opacity: 0.5;
    margin: 0 0 60px 0;
    @include adaptiv-value('font-size', 30, 20, 0);
    @include adaptiv-value('line-height', 45, 25, 0);
  }
  &__btn{}
}