.footer{
  padding: 44px 0 35px;
  background: #E5E5E5;
  @media(max-width: 876px){
    padding: 20px 0;
  }
  &__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media(max-width: 876px){
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  &__logo{
    a{
      color: #FF7C4E;
      font-size: 20px;
      line-height: 30px;
      font-weight: 700;
    }
  }
  &__menu{
    min-width: 537px;
    padding: 0 30px;
    @media(max-width: 876px){
      padding: 20px 30px;
      min-width: 100%;
    }
  }
  &__items{
    display: flex;
    justify-content: space-between;
    @media(max-width: 500px){
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &__item{
    @media(max-width: 500px){
      margin: 0 0 20px 0;
    }
    a{
      display: flex;
      align-items: center;
      position: relative;
      span{
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        color: #0F1F1C;
        opacity: 0.5;
        text-decoration: none;
        display: inline-block;
        &:after{
          content: '';
          display: inline-block;
          height: 4px;
          width: 0px;
          transition: width 0.2s ease;
          background: #C4C4C4;
          border-radius: 100px;
          position: absolute;
          bottom: -3px;
          left: 0;
        }
      }
      &:hover{
        @media(min-width: 877px){
          span{
            &:after{
              width: calc(100% - 10px);
            }
          }
        }
      }
    }
  }
}