.main{
  position: relative;
  width: 100%;
  // min-height: 100vh;
  background: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%);
  padding: 128px 0 20px;
  @media(max-width: 876px){
    min-height: initial;
    padding: 89px 0 20px;
  }
  &__wrapper{
    display: flex;
    @media(max-width: 876px){
      justify-content: center;
    }
  }
  &__content, &__media{
    max-width: 50%;
  }
  &__content{
    padding: 0 0 100px 0;
    @media(max-width: 876px){
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 100%;
      padding: 0 0 50px 0;
    }
  }
  &__media{
    position: relative;
    img{
      max-width: 100%;
    }
    @media(max-width: 876px){
      display: none;
    }
  }
  &__text{
    display: inline-block;
    padding: 11px 30px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    margin: 0 0 14px 0;
    span{
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: #fff;
    }
    @media(max-width: 646px){
      display: none;
    }
  }
  &__title{
    margin: 0 0 30px 0;
    color: #fff;
    @media(max-width: 876px){
      text-align: center;
    }
  }
  &__title-sub{
    margin: 0 0 30px 0;
    @media(max-width: 876px){
      text-align: center;
    }
  }
  &:before, &:after{
    position: absolute;
    bottom: 0;
    content: '';
    display: inline-block;
    @media(max-width: 876px){
      display: none;
    }
  }
  &:before{
    border: 100px solid transparent;
    border-bottom: 0px solid transparent;
    border-right: 0px solid transparent;
    border-left: 50vw solid #E5E5E5;
  }
  &:after{
    border: 100px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 50vw solid #E5E5E5;
    right: 0;
  }
}

.move-icon{
  position: absolute;
  display: inline-block;
}
.first{
  top: 0;
  left: 0;
  width: 48px;
  height: 63px;
}
.second{
  top: 90px;
  right: 0;
  width: 157px;
  height: 37px;
}
.third{
  bottom: 50px;
  left: 50px;
  width: 157px;
  height: 37px;
}
.fourth{
  bottom: 120px;
  right: -10px;
  width: 63px;
  height: 83px;
}
