.title{
  color: #000;
  font-weight: 600;
  @include adaptiv-value('font-size', 55, 30, 0);
  @include adaptiv-value('line-height', 82, 55, 0);
  &-sub{
    font-weight: 500;
    @include adaptiv-value('font-size', 25, 16, 0);
    @include adaptiv-value('line-height', 37, 20, 0);
    opacity: 0.5;
    color: #fff;
  }
}